body {
    font-family: 'Georgia', serif;
}

h1 {
    font-size: 36px;
    font-weight: bold;
    text-align: center;
    text-transform: uppercase;
}

h2 {
    font-size: 20px;
    font-weight: normal;
    text-align: center;
    font-style: italic;
    color: #555;
}

p {
    font-size: 16px;
    font-weight: normal;
    text-align: justify;
    max-width: 700px;
    margin: 20px auto;
}